In [5]:
import pandas as pd

# Charger les DataFrames
df1 = pd.read_csv("Data_Projet/7282_1.csv", sep=',', usecols=range(19))
df2 = pd.read_csv("Data_Projet/Datafiniti_Hotel_Reviews_Jun19.csv", sep=',', usecols=range(21))
df3 = pd.read_csv("Data_Projet/Datafiniti_Hotel_Reviews.csv", sep=',', usecols=range(20))

# Concaténer les DataFrames
df = pd.concat([df1, df2, df3], ignore_index=True)

# Remplacer les valeurs NaN dans la colonne "reviews.title" par une chaîne vide
df["reviews.title"] = df["reviews.title"].fillna("")

# Sélectionner les colonnes qui nous intéressent
df = df[["name", "reviews.rating", "reviews.text", "reviews.title"]]

# Concaténer les colonnes reviews.text et reviews.title
df["reviews_combined"] = df["reviews.title"] + " " + df["reviews.text"]

# Trier le DataFrame par la colonne "reviews.rating"
df = df.sort_values(by="reviews.rating")

# Delete duplicates reviews.txt
df = df.drop_duplicates(subset="reviews.text")

# Afficher les premières lignes du DataFrame 
df.head()

,name,reviews.rating,reviews.text,reviews.title,reviews_combined
15845,Midvalley Motel,0.0,to share your opinion of this businesswith YP ...,,to share your opinion of this businesswith YP...
16646,1785 Inn,0.0,The table-side Caesar salad for two is a real ...,fantastic,fantastic The table-side Caesar salad for two ...
16647,1785 Inn,0.0,Bartender is great. Ask about chocolate bacon ...,fantastic,fantastic Bartender is great. Ask about chocol...
16648,1785 Inn,0.0,(no chocolate bacon. I am dissapoint) great wa...,fantastic,fantastic (no chocolate bacon. I am dissapoint...
8585,Hotel Millersburg,0.0,xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx,Amazing old and well kept hotel,Amazing old and well kept hotel xxxxxxxxxxxxxx...